/* Nav Bar styling */
#navLogo{
  width: 20%;
}

#searchContainer{
  width: 100%
}

/* Pokemon listing styling */
.pokemonContainer{
  width: 20%;
  float: left;
  border: 1px solid black;
  text-align: center;
}

.pokemonContainer:hover{
  background-color: #FFCB05;
  border-color: #2B5798;
  color: #ffffff;
  text-decoration: none;
}

.hidden{
  display: none;
}
/* Prev/Next button styling */
#pokemonNav{
  width: 100%
}

#nextButton{
  float: right;
}
