/* Nav Bar styling */
#navLogo{
  width: 20%;
}

#searchContainer{
  width: 100%
}

/* Pokemon listing styling */
#spritesContainer{
  border: 5px solid #4D6C99;
}

.sprite{
  float: left;
  width: 50%;
}

#pokemonName{
  color: #FFC91A;
}
